
@font-face {
  font-family: Larken;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/LarkenW05-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Scto;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Scto-Grotesk-A-Light.woff") format("woff");
}

:root {
  font-size: 8px;
}

html, body {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  background-color: #F1EFED;
  --header-height: 100px;
}

.title {
  color: black;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -.03em;
  margin: 0;
}

.sub-header {
  color: black;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -.03em;
  margin: 0;
}

p, a {
  color: black;
  font-family: Scto Grotesk A Light, "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-decoration: none;
}

/* Layout/container flow styles */

header, .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  height: var(--header-height);
}

nav, .nav, nav p, nav a { 
  font-family: Scto Grotesk A Light, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.chevron-icon {
  margin-left: 10px;
  transition: transform 0.2s linear;
}

.settings svg {
  vertical-align: middle;
  display: inline-block;
}
.dropdown-container {
  position: relative;
  display: inline-block;
  z-index: 9999; /* ensures it appears on top */
}

.dropdown-button {
  cursor: pointer;
  padding: 4px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -50%;
  background-color: white;
  display: none;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 9999;
}

.dropdown.up {
  bottom: 100%;
  top: auto;
}

.dropdown a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown a:hover {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.dropdown-container:hover .dropdown {
  display: flex;
}

.dropdown-container:hover .chevron-icon {
  transform: rotate(180deg);
}

main, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex: 1;
  padding-bottom: 232px;
  padding-top: var(--header-height);
}

main img, .container img {
  width: 100%;
  height: auto;
  align-self: flex-start;
}

button, .button {
  display: block;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 32px;
  width: fit-content;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover, .button:hover {
  color: black;
  background: white;
}

footer, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: -3%;
  font-weight: 300;
  background: #DEDAD5;
  color: white;
  padding: 24px 40px;
  box-sizing: border-box;
}

.footer-nav, .footer-socials {
  display: flex;
  flex-direction: row;
  gap: 8px;
}



/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 450px;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-content {
  margin-top: 24px;
  max-width: 700px;
  position: absolute;
  top: 50%;
  padding-left: 50px;
  transform: translate(0, -50%);
  text-align: left;
}

.hero-content h1, .hero-content p {
  color: white
}

/* Cards Section */


.shared-spaces .description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding-right: 50px;
}

.description-container p {
  max-width: 50%;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 48px;
}

.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  min-width: 450px;
  max-width: 450px;  
  overflow: hidden;
  position: relative;
  max-height: 300px;
}


.card .media-container {
  margin: 0;
  height: 100%;
  position: relative;
}

.card .media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  color: white;
  font-family: "Larken", "Helvetica Neue", sans-serif;
  padding: 24px 24px 0px 24px;
  box-sizing: border-box;
  z-index: 1000;
}

.info-top p {
  color: white;
}

.info-top {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-bottom {
  overflow: hidden;
  max-height: 0;
}

.info-bottom.expanded {
  max-height: 300px; /* adjust to fit full content */
  padding-bottom: 24px;
}

.content ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 16px;
  margin: 0;
}

.settings {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.settings .chevron-icon img,
.settings .dots-icon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}


.chevron-icon {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.chevron-icon.expanded {
  transform: rotate(0deg); /* flip arrow when expanded */
}


.card .media-container .button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  background: rgba(76, 175, 80, 0.0);
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.card .media-container .button img {
  width: 20px;
  height: 20px;
}

.heart {
  width: 24px;
  height: 24px;
  color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart.filled {
  color: #ff4545;
}

/* Strong inside text */
strong {
  font-weight: 500;
}

.space-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  max-width: 300px;
  flex: 1;
  text-align: left;
}

.space-card img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.space-card h3 {
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin: 16px;
}

.space-card ul {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 16px;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  max-width: 500px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input::placeholder, textarea::placeholder {
  color: #00000059
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form button {
  border: none;
  border-radius: 32px;
  color: white;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  padding: 12px 24px;
  cursor: pointer;
  margin-top: 16px;
}

.contact-form button:hover {
  background-color: #5c422e;
}


.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85%;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-top: 40px;
}

.pricing-header, .pricing-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 24px 40px;
  align-items: center;
}

.pricing-header {
  border-bottom: 1px solid #ddd;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #999;
}

.pricing-row {
  border-bottom: 1px solid #eee;
}

.pricing-row .feature ul {
  display: grid;
  grid-template-rows: repeat(3, 1fr); /* Assuming 3 items per column */
  gap: 16px;
  height: 100%;
}

.feature-title {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #aaa;
}

.feature {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 2em;
  font-weight: 300;
  height: 100%;
  padding: 16px;
  padding-left: 0;
}

.feature .secondary-text {
  color: #aaa;
  font-size: 12px;
}

.feature ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature ul li {
  margin-bottom: 8px;
}


.feature-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.feature-icon {
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.feature-icon img {
  width: 24px;
  height: 24px;
  align-self: center;
}

.feature-content h3 {
  margin: 0;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: black;
}

.feature-content p {
  margin: 4px 0 0 0;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #999999;
}


.contact-us {
  position: relative;
}
.contact-us p, .contact-us a {
  color: white;;
}

.contact-us-content {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-spaces {
  padding-left: 40px;
}

/* Announcement Bar */
.announcement-bar {
  background-color: #F4A73C; /* Oranssi sävy */
  text-align: center;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
}

.announcement-bar p {
  margin: 0;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* Floating Chat Icon */
.floating-chat {
  position: fixed;
  top: 64px;
  right: 64px;
  background: white;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  cursor: pointer;
}
.chat-icon {
  display: flex;
  justify-content: center;
}

.chat-icon img {
  width: 60%;
}

.chat-badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Header Adjustments */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  background: #F1EFED; /* Sama kuin body tausta */
  position: relative;
  z-index: 10;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  position: relative;
}

.space-cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 24px;
  padding-bottom: 16px;
  padding-left: 40px;
  padding-right: 40px;
  scrollbar-width: thin;
  scroll-padding: 0 50%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.space-cards::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #aaa;
}
