
@font-face {
  font-family: Larken;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/LarkenW05-Thin.woff2") format("woff2");
}

html, body {
  margin: 0;
}

header {
  position: relative;
  text-align: center;
}

header img {
  width: 100%;
}

header h1 {
  color: white;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -.03em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
main {
  padding: 16px 24px;
}

section {
  margin-bottom: 32px;
}

section h2 {
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 100;
  letter-spacing: -.03em;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0; 
}

ul li {
  width: 100%;
  position: relative;
}

ul li img {
  width: 100%;
  height: auto;
  display: block;
}

ul li a {
  position: absolute;
  bottom: 8px;
  right: 8px;
            background-color: #E7FE4D;
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
}