
@font-face {
  font-family: Larken;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/LarkenW05-Thin.woff2") format("woff2");
}

@font-face {
  font-family: Scto;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/Scto-Grotesk-A-Light.woff") format("woff");
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

h1 {
  color: black;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -.03em;
  margin: 0;
}

h2 {
  color: black;
  font-family: "Larken", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: -.03em;
  margin: 0;
}

p {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: -3%;
  font-weight: 300;
  margin: 0;
}

a {
  color: black;
}

/* Layout/container flow styles */

header, .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 32px 40px;
}

nav, .nav {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: -3%;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.spaces-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 40px 0;
}

.chevron-icon {
  margin-left: 10px;
  transform-origin: center;
  transition: transform 0.2s linear;
}

.dropdown {
  position: absolute;
  left: -50%;
  top: 40px;
  background-color: white;
  padding: 24px 40px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: visibility 0s, opacity 0.2s linear;
}

.spaces-dropdown:hover .dropdown {visibility: visible; opacity: 1;}

.spaces-dropdown:hover .chevron-icon {
  transform: rotate(180deg);
}

main, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 900px;
  gap: 24px;
  flex: 1;
  align-items: center;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 232px;
}

main img, .container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 16px;
  align-self: flex-start;
}

button, .button {
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  letter-spacing: -3%;
  font-weight: 300;
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 32px;
  width: fit-content;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 16px;
}

button:hover, .button:hover {
  color: black;
  background: white;
}

footer, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: "Scto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  letter-spacing: -3%;
  font-weight: 300;
  background: black;
  color: white;
  padding: 24px 40px;
  box-sizing: border-box;
}

.footer-nav, .footer-socials {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

footer a, .footer a {
  color: white;
}

